<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cat"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.showbeatuy.ShowBeatuyActivity"></activity>
        <activity android:name=".FlexBoxLayoutActivity" />
        <activity android:name="com.example.seaechflowlayout.CustomizeActivity" />
        <activity android:name="com.example.search.SearchActivity" />
        <activity android:name="com.example.notificationbar.aty.DaoHangActivity" />
        <activity android:name=".BitmapActivity" />
        <activity android:name=".RuntimePermission.CallActivity" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".FileActivity" />
        <activity android:name=".SharedPeferencesActivity" />
        <activity android:name=".FilePersistenceActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Test2Activity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIeW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentActivity" />
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".update.DownLoadService"/>
        <activity android:name=".ToastActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ImageviewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity">
            <intent-filter>
                <action android:name="com..example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.examle.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".EditTextActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name="com.example.databinding.viewmodel.ViewModeOne" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>